<form action="/articles" method="POST" >
article_title: <input type="text" name="article[title]"><br />
article_content: <input type="text" name="article[content]"><br />

<h3>Magazne</h3>
<input type="text" id="article_title" name="article[][title]"><br />
<input type="text" id="article_content" name="article[][content]"><br/>

<button id="submit" type="submit">Submit:</button>

</form>
