<form action="/articles" method="POST" >
article_title:   <input type="text" name="article[title]"><br />
article_content: <input type="text" name="article[content]"><br />

<h3>Article1</h3>
<input type="text" id="article1" name="article[][title]"><br />
<input type="text" id="article1" name="article[][content]"><br/>


<h3>Article2</h3>
<input type="text" id="article2" name="article[][title]"><br />
<input type="text" id="article2" name="article[][content]"><br/>

  <button id="submit" type="submit">Submit:</button>

</form>
